.logo {
  height: 32px;
  margin: 16px;
  text-align: center;
}

nz-header {
  background: #fff;
  height: 7vh;
  text-align: center;
}

nz-divider {
  color: white !important;
  font-size: 10px !important;
  border-top-color: white !important;
}
nz-content {
  margin-top: 2px;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.inner-content {
  display: block;
  background-color: black;
  height: 92.5vh;
  overflow: hidden;
}

nz-footer {
  text-align: center;
}

.avatarClass {
  display: flex;
  flex-direction: row;
}
.optionsClass {
  display: flex;
  flex-direction: column;
}

.listClass {
  height: 50px;
}

.headerText {
  font-family: "Brush Script MT", cursive;
  font-weight: 900;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .headerText {
    font-weight: 700;
    font-size: 20px;
  }
}
