<!-- NG-ZORRO -->
<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    nzWidth="200px"
    style="height: 100vh"
  >
    <div class="logo">
      <h2 style="color: white">Teamy</h2>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-container *ngFor="let users of totalUsers">
        <li nz-menu-item *ngIf="users[1] != username" (click)="callUser(users)">
          <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="'' | randomNumber">
          </nz-avatar>

          <span style="margin-left: 10px">{{ users[1] }}</span>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <h1 style="font-family: 'Brush Script MT', cursive; font-weight: 900">
        Made with <i style="color: red">&#10084;</i> by Yogesh
      </h1>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <app-video [callerUserID]="userId"></app-video>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
